.cabecalho {
    height: 8em;
    padding-top: 1px;
    font-family: "quattrocento";
}

.page-header {
    margin: 4px;
}

.usuario-logado {
    margin-top: 1em;
}

.mensagem {
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 2px;
}

.titulo{
    background-color: #00ced1;
    color: #f9f9f9;
    padding: 10px 10px 10px 10px;
    width: 368px;
    margin-bottom: 20px;
}

.cabecalhoLateral {
    background-color: #4f4d4a;
    padding: 1px;
    height: 200px;
    color: #f9f9f9;
    
}

.cabecalhoLateral img {
    margin-top: -40px;  
}






