<div class="row" ng-controller="MedicacoesController">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="titulo">HISTÓRICO DE MEDICAÇÕES</h3> 
        <h4><small>Selecione o Paciente:</small></h4>
        <select class="selectpicker btn-block" data-style="btn-primary" ng-options="item as item.nome for item in listaPaciente track by item.id" ng-model="paciente" ng-change="selecionaPaciente()"></select>
        <!--<button type="button" ng-click="" class="btn btn-md btn-default">Selecionar Paciente</button>-->
        <hr>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome Comercial</th>
                        <th>Princípio Ativo</th>
                        <th>Indicações</th>
                        <th>Dose</th>
                        <th>Frequencia</th>
                        <th>Observações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in listaMedicacao | filter:pesquisa">
                        <td>{{value.data}}</td>
                        <td>{{value.nomeComercial}}</td>
                        <td>{{value.principioAtivo}}</td>
                        <td>{{value.indicacoes}}</td>
                        <td>{{value.dose}}</td>
                        <td>{{value.frequencia}}</td>
                        <td>{{value.observacoes}}</td>
                        <th>
                            <button type="button" ng-click="excluir(value.id)" class="btn btn-sm btn-danger" alt="Excluir" title="Excluir">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-default" href="#/nova-medicacao" role="button">Adicionar Medicação</a>
        </div>
    </div>
</div>
