<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Novo Paciente</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">			
            <form role="form">
                <div class="tabbable" id="tab-paciente">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="panel1" data-toggle="tab">Paciente</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel1">

                            <div class="form-group">                           
                                <div class="col-md-4">
                                    <label>Nome</label>
                                    <input id="nome" ng-model="paciente.nome" type="text"  class="form-control input-md" >
                                </div>
                            </div>
                            <div class="form-group">                           
                                <div class="col-md-4">
                                    <label>Data Nascimento</label>
                                    <input id="dataNascimento" ng-model="paciente.dataNascimento" type="text"  class="form-control input-md" >
                                </div>
                            </div> 
                            <div class="form-group">                           
                                <div class="col-md-4">
                                    <label for="sel1">Sexo:</label>
                                    <select class="form-control" id="sexo" ng-model="paciente.sexo">
                                        <option>M</option>
                                        <option>F</option>
                                    </select>                                                    
                                </div> 
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Profissão</label>
                                        <input id="profissao" ng-model="paciente.profissao" type="text"  class="form-control input-md" >
                                    </div>
                                </div>                                            
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Ocupação</label>
                                        <input id="ocupacao" ng-model="paciente.ocupacao" type="text"  class="form-control input-md" >
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Contato</label>
                                        <input id="contato" ng-model="paciente.contato" type="text"  class="form-control input-md" >
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>E-mail</label>
                                        <input id="email" ng-model="paciente.email" type="text"  class="form-control input-md" >
                                    </div>
                                </div>                                            
                                <div class="form-group">
                                    <div class="col-md-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h3>Endereço:</h3>  
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                    </div>
                                </div>                                                                                    
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Logadouro</label>
                                        <input id="logadouro" ng-model="paciente.logadouro" type="text"  class="form-control input-md" >
                                    </div>
                                </div>
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Numero</label>
                                        <input id="numero" ng-model="paciente.numero" type="text"  class="form-control input-md" >
                                    </div>
                                </div>
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Bairro</label>
                                        <input id="bairro" ng-model="paciente.bairro" type="text"  class="form-control input-md" >
                                    </div>
                                </div>  
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Cidade</label>
                                        <input id="cidade" ng-model="paciente.cidade" type="text"  class="form-control input-md" >
                                    </div>
                                </div>                                            
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>CEP</label>
                                        <input id="cep" ng-model="paciente.cep" type="text"  class="form-control input-md" >
                                    </div>
                                </div>
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Estado</label>
                                        <input id="nome" ng-model="paciente.estado" type="text"  class="form-control input-md" >
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                    </div>   
                    <div class="form-group">
                        <div class="col-md-12">
                        </div>
                    </div>                        
            </form>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <p/>
                    </div>
                </div>                         
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="button" href="#modal-container-edit" ng-click="salvar()" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Salvar</button>
                    <a class="btn btn-warning" href="#/paciente-lista" role="button"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</a>
                    <hr>		
                </div>
            </div>                
        </div>
    </div>
</div>