<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Nova Medicação</h3>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" ng-click="salvar()" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Salvar</button>
            <a class="btn btn-warning" href="#/historico-medicacoes" role="button"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</a>
            <hr>		
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form role="form">
                <div class="form-group">					 
                    <label for="nome">
                        Data
                    </label>
                    <input type="text" ng-model="medicacao.data" class="form-control" id="nome" />
                </div>
                <div class="form-group">					 
                    <label for="email">
                        Nome Comercial
                    </label>
                    <input type="email" ng-model="medicacao.nomeComercial" class="form-control" id="email" />
                </div>
                <div class="form-group">					 
                    <label for="email">
                        Principio Ativo
                    </label>
                    <input type="email" ng-model="medicacao.principioAtivo" class="form-control" id="email" />
                </div>
                <div class="form-group">					 
                    <label for="email">
                        Indicações
                    </label>
                    <input type="email" ng-model="medicacao.indicacoes" class="form-control" id="email" />
                </div>
                <div class="form-group">					 
                    <label for="email">
                        Dose
                    </label>
                    <input type="email" ng-model="medicacao.dose" class="form-control" id="email" />
                </div>
                <div class="form-group">					 
                    <label for="email">
                        Frequencia
                    </label>
                    <input type="email" ng-model="medicacao.frequencia" class="form-control" id="email" />
                </div>
                <div class="form-group">					 
                    <label for="email">
                        Observações
                    </label>
                    <input type="email" ng-model="medicacao.observacoes" class="form-control" id="email" />
                </div>
            </form>
        </div>
    </div>
</div>
