<div class="row">
    <div class="row" ng-show="editarRegistro">
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form role="form">
                    <h4>Edição de Paciente:  {{paciente.nome}}</h4>
                    <div class="tabbable" id="tab-paciente">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="panel1" data-toggle="tab">Paciente</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel1">

                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Nome</label>
                                        <input id="nome" ng-model="paciente.nome" type="text"  class="form-control input-md" >
                                    </div>
                                </div>
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Data Nascimento</label>
                                        <input id="dataNascimento" ng-model="paciente.dataNascimento" type="text"  class="form-control input-md" >
                                    </div>
                                </div> 
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label for="sel1">Sexo:</label>
                                        <select class="form-control" id="sexo" ng-model="paciente.sexo">
                                            <option>M</option>
                                            <option>F</option>
                                        </select>
                                        <!--<label>Sexo</label>-->
                                        <!--<input id="sexo" ng-model="paciente.sexo" type="text"  class="form-control input-md" >-->
                                    </div>
                                </div> 
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Profissão</label>
                                        <input id="profissao" ng-model="paciente.profissao" type="text"  class="form-control input-md" >
                                    </div>
                                </div>                                            
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Ocupação</label>
                                        <input id="ocupacao" ng-model="paciente.ocupacao" type="text"  class="form-control input-md" >
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Contato</label>
                                        <input id="contato" ng-model="paciente.contato" type="text"  class="form-control input-md" >
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>E-mail</label>
                                        <input id="email" ng-model="paciente.email" type="text"  class="form-control input-md" >
                                    </div>
                                </div>                                            
                                <div class="form-group">
                                    <div class="col-md-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h3>Endereço:</h3>  
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                    </div>
                                </div>                                                                                    
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Logadouro</label>
                                        <input id="logadouro" ng-model="paciente.endereco.logadouro" type="text"  class="form-control input-md" >
                                    </div>
                                </div>
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Numero</label>
                                        <input id="numero" ng-model="paciente.endereco.numero" type="text"  class="form-control input-md" >
                                    </div>
                                </div>
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Bairro</label>
                                        <input id="bairro" ng-model="paciente.endereco.bairro" type="text"  class="form-control input-md" >
                                    </div>
                                </div>  
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Cidade</label>
                                        <input id="cidade" ng-model="paciente.endereco.cidade" type="text"  class="form-control input-md" >
                                    </div>
                                </div>                                            
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>CEP</label>
                                        <input id="cep" ng-model="paciente.endereco.cep" type="text"  class="form-control input-md" >
                                    </div>
                                </div>
                                <div class="form-group">                           
                                    <div class="col-md-4">
                                        <label>Estado</label>
                                        <input id="nome" ng-model="paciente.endereco.estado" type="text"  class="form-control input-md" >
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                    </div>   
                    <div class="form-group">
                        <div class="col-md-12">
                        </div>
                    </div>                        
                    <div class="form-group">
                        <div class="col-md-12"><p/></div>
                        <div class="col-md-12"><p/></div>
                        <div class="col-md-12">
                            <button type="button" ng-click="cancelarEdicao()" class="btn btn-warning"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</button>
                            <button type="button" ng-click="salvarEdicao()" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Salvar Edição</button>                              
                        </div> 
                        <div class="col-md-12"><p/></div>
                        <div class="col-md-12"><p/></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<div class="row" ng-hide="editarRegistro">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3 class="titulo">LISTA PACIENTES</h3>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form>
				<div class="form-inline">
					<input type="text" class="form-control" ng-model="pesquisa" />
					<a class="btn btn-default" href="#/paciente-novo" role="button"><span class="glyphicon glyphicon-pencil"></span> Novo...</a>
				</div>
			</form>		
			<hr>		
		</div>
	</div>                    			
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Nome</th>
                                        <th>Sexo</th>
					<th>Nascimento</th>
					<th>Contato</th>
                                        <th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in listaPaciente | filter:pesquisa">
					<td>{{value.nome}}</td>
                                        <td>{{value.sexo}}</td>
                                        <td>{{value.dataNascimento}}</td>
                                        <td>{{value.contato}}</td>
					<th>
                                                <button type="button" ng-click="visualizar(value)" class="btn btn-sm btn-success" href="#/paciente-visualizacao" alt="Visualizar" title="Visualizar">
                                                        <span class="glyphicon glyphicon-zoom-in"></span>
                                                </button>
						<button type="button" ng-click="excluir(value.id)" class="btn btn-sm btn-danger" alt="Excluir" title="Excluir">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<button type="button" ng-click="editar(value)" class="btn btn-sm btn-info" alt="Editar" title="Editar">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
					</th>
				</tr>
			</tbody>
		</table>
        </div>
    </div>
</div>