<div class="row" ng-controller="RevisaoSaudeController">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="titulo">HISTÓRICO DE MEDICAÇÕES</h3> 
        <h4><small>Selecione o Paciente:</small></h4>
        <select class="selectpicker btn-block" data-style="btn-primary" ng-options="item as item.nome for item in listaPaciente track by item.id" ng-model="paciente" ng-change="selecionaPaciente()"></select>
        <!--<button type="button" ng-click="" class="btn btn-md btn-default">Selecionar Paciente</button>-->
        <hr>
    </div>
    <div class="row espacamento">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h2>Dynamic Tabs</h2>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="/cardio">Cardiologista/Clinico Geral</a>
                </li>
              <li><a data-toggle="tab" href="/gineco">Ginecologista</a></li>
              <li><a data-toggle="tab" href="/uro">Urologista</a></li>
            </ul>

            <div class="tab-content">
              <div id="cardio" class="tab-pane fade in active">
                <h3>Cardiologista/Clinico Geral</h3>
                
                            <div class="form-group">                           
                                <div class="col-md-12">
                                    <label>Frequencia</label>
                                    <input id="nome" ng-model="revisaoSaude.frequencia" type="text"  class="form-control input-md" >
                                </div>
                            </div>
                            <div class="form-group">                           
                                <div class="col-md-12">
                                    <label>Local Consulta</label>
                                    <input id="dataNascimento" ng-model="revisaoSaude.local" type="text"  class="form-control input-md" >
                                </div>
                            </div>
              </div>
              <div id="gineco" class="tab-pane fade">
                <h3>Ginecologista</h3>
                                
                            <div class="form-group">                           
                                <div class="col-md-12">
                                    <label>Frequencia</label>
                                    <input id="nome" ng-model="revisaoSaude.frequencia" type="text"  class="form-control input-md" >
                                </div>
                            </div>
                            <div class="form-group">                           
                                <div class="col-md-12">
                                    <label>Local Consulta</label>
                                    <input id="dataNascimento" ng-model="revisaoSaude.local" type="text"  class="form-control input-md" >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Realiza o auto-exame das mamas?</label>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Sim</label>
                                      </div>
                                      <div class="checkbox">
                                        <label><input type="checkbox" value="">Não</label>
                                      </div>
                                </div>
                                </div>
                            </div>
              </div>
              <div id="uro" class="tab-pane fade">
                <h3>Urologista</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              </div>
            </div>                     
        </div>                
    </div>
    <div class="row">
        <a class="btn btn-default" href="#/nova-medicacao" role="button">Adicionar Medicação</a>
    </div>
</div>
